extends layout

block content
	#container.col-md-6.border-right
		#admin-form-container
			h1 Add settings!
			form(method='POST', action='/admin')
				.form-group
				.dropdown
					button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown') Add setting
						span.caret
					ul.dropdown-menu
						li.dropdown-header CSS
							li
								a(id='appendCss' href ='#') Custom CSS
						li.dropdown-header Navigation
							li
								a(id='appendLogo' href ='#') Add Logo
							li
								a(id='appendLogoImg' href ='#') Add Logo Image
							li
								a(id='appendLogoLink' href ='#') Add Logo Link
						li.dropdown-header Jumbotron
							li
								a(id='appendJumbotron' href ='#') Add Jumbotron
							li
								a(id='appendJumbotronHeader' href ='#') Add Jumbotron Header
							li
								a(id='appendJumbotronParagraph' href ='#') Add Jumbotron Paragraph
						li.dropdown-header Add Main Content
							li
									a(id='appendMainContent' href ='#') Add Main Content
							li
								a(id='appendMainContentHeader' href ='#') Add Main Content Header
							li
								a(id='appendMainContentParagraph' href ='#') Add Main Content Paragraph
						li.dropdown-header Add Footer
							li
								a(id='appendFooter' href ='#') Add Footer
							li
								a(id='appendFooterSection' href ='#') Add Footer Section
							li
								a(id='appendFooterLink' href ='#') Add Footer Link
				
				h1 SETTINGS
				
				#displaySettings
					
			
				button.form-control.btn.btn-default(name='submit', type='submit', value='commit settings') Commit settings

	#container.col-md-6
		h1 Live Preview
		#livePreview