doctype html
html(lang='en')
	head
		title #{title}
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
		meta(name='description', content='Yokiui, site builder.')
		meta(name='author', content='Steven McKay Lowry')
		meta(name='keywords', content='#{metaKeywords}')
		// Bootstrap core CSS
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
		link(href='/stylesheets/style.min.css', rel='stylesheet')
		style #{UserSetting[0].cssTextareaInput}

	body
		if(user)
			header
				nav.navbar
					.navbar-header.container-fluid
						a.navbar-brand(href='/') YokiUI
					ul.nav.navbar-nav
						li(class=(title == 'Home' ? 'active' : ''))
							a(href='/')
								span.glyphicon.glyphicon-home()
								| Home	
							li(class=(title == 'Admin' ? 'active' : ''))
								a(href='/admin')
									span.glyphicon.glyphicon-cog()
									| Admin
					ul.nav.navbar-nav.navbar-right
							li
								a(class=(title == 'profile' ? 'active' : '') href='/users/profile') Welcome 
									!= user.name
							li(class=(title == 'Register' ? 'active' : ''))
								a(href='/users/register')
									span.glyphicon.glyphicon-user()
									| Add user
							li(class=(title == 'logout' ? 'active' : ''))
								a(href='/users/logout')
									span.glyphicon.glyphicon-user()
									| Logout
		.container
			!= messages()
			#custommessages
			block content
	if(user)
		footer.footer
	// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
	//if lt IE 9
	script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
	script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	//Bootstrap core JavaScript
	// Placed at the end of the document so the pages load faster
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', integrity='sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==', crossorigin='anonymous')
	// IE10 viewport hack for Surface/desktop Windows 8 bug
	script(src='https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
	script(src='/javascripts/scripts.min.js')
