extends altlayout

block content
	.container-fluid
		.page-header
			.logo
				a(href='#{UserSetting[0].appendLogoLink}')
					img(src='#{UserSetting[0].appendLogoImg}')
		.jumbotron
			h1 #{UserSetting[0].appendJumbotronHeader}
			p #{UserSetting[0].appendJumbotronParagraph}
			
		.maincontent
			h1 #{UserSetting[0].appendMainContentHeader}
			p #{UserSetting[0].appendMainContentParagraph}
			
		.frontpagefooter
			h1 #{UserSetting[0].appendFooterSection}
			p #{UserSetting[0].appendFooterLink}
				
