extends layout

block content
	#container
		#admin-form-container
			form(method='POST', action='/users/login', enctype='multipart/form-data')
				.form-group
					label
						| Username
					input.form-control(name='username', type='text', placeholder='Enter Username')
					label
						| Password
					input.form-control(name='password', type='password', placeholder='Enter Password')
					button.form-control.btn.btn-default(name='submit', type='submit', value='login') Login
			p
				| Demo use:
				a(href='/users/demoregister')  Register