extends layout

block content
	.container-fluid
		.page-header
			h1 DEBUG$
		.container
			h1 Welcome 
				!= user.name
			h1 Username: 
				!= user.username
			h1 Email: 
				!= user.email
			h1 Password: 
				!= user.password
			h1 Profile Image: 
				!= user.profileimage