extends layout

block content
		#container
		#admin-form-container
			ul.errors
				if errors
					each error, i in errors
						li.alert.alert-danger #{error.msg}
			form(method='POST', action='/users/register', enctype='multipart/form-data')
				.form-group
					label
						| Name
					input.form-control(name='name', type='text', placeholder='Enter Name')
				.form-group
					label
						| Email
					input.form-control(name='email', type='text', placeholder='Enter Email')
				.form-group
					label
						| Username
					input.form-control(name='username', type='text', placeholder='Enter Username')
				.form-group
					label
						| Password
					input.form-control(name='password', type='password', placeholder='Enter Password')
				.form-group
					label
						| Confirm Password
					input.form-control(name='password2', type='password', placeholder='Confirm Password')
				.form-group
					label
						| Profile Image
					input.form-control(name='profileimage', type='file')
				button.form-control.btn.btn-default(name='submit', type='submit', value='register') Register
				
				h1 Registered user data.
				p #{User}