.active{
	background:#f3f3f3;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#container {
	margin-top:15px;
}

.container {
	padding: 0px;
	width: 100%;
}

.container{ 
  .text-muted {
    margin: 20px 0; 
  }
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.mainheadline {
  padding: 10px 15px 10px 15px;
  h1 {
    margin-top: 5px;
  }
}

.navbar {
	margin-bottom: 0px;
	box-shadow: 0px 1px 10px #888888;
}

div#admin-form-container form input {
    clear: both;
    margin-bottom: 10px;
}

button#basket-button {
    float: left;
    clear: both;
}

div#admin-form-container {
    margin: 0 auto;
    width: 45%;
}

/* Flash Message */

ul.success, ul.info, ul.error{
	padding:15px;
}

ul.success li, ul.info li, ul.error li{
	margin:20px 0 20px 0;
	padding:15px;
	border:1px solid transparent;
	border-radius:5px;
	list-style:none;
}

ul.success li{
	color:#3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

ul.error li{
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

ul.info li{
	color:#31708f;
	background-color: #d9edf7;
	border-color: #d6e9c6;
}

a.disabled {
    pointer-events: none;
	background: #f0f0f0;
}

.headerItems{
	width:50%;
	display:inline-block;
}

.cursor-pointer{
	cursor: pointer;
}

.innerSetting{
	padding-left:40px;
}

#cssTextareaInput{
	min-width:400px;
	max-width:500px;
}

.nav.navbar-nav.navbar-right{
	margin-right:0;
}

div#custommessages{
	margin: 15px;
}

div#custommessages .alert {
	margin: 20px 0;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    list-style: none;
}

div#livePreview {
    border: 1px dashed black;
}

.footer {
    box-shadow: 0 1px 10px #888;
}
/* /Flash Message */
